name:  studybreak
description: "A new Flutter project."
publish_to: "none"
version: 0.1.0


environment:
 sdk: ^3.9.0


dependencies:
 flutter:
   sdk: flutter
 english_words: ^4.0.0
 provider: ^6.1.5
 url_launcher: ^6.3.0
 path_provider: ^2.1.2
 shared_preferences: ^2.2.2






dev_dependencies:
 flutter_test:
   sdk: flutter
 flutter_lints: ^6.0.0


flutter:
 uses-material-design: true
 assets:
   - assets/Self Care Adventure.html
   - assets/Breathing Exercises.html
